.map {
  position: relative;

  width: $mobile-width;
  height: 400px;
  margin: 0 auto;

  &::before {
    content: "";
    z-index: 2;
    position: absolute;
    top: 175px;
    left: 128px;

    width: 55px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.map-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}
