.product {
  width: 100%;
  min-height: 210px;
  padding-bottom: 25px;

  border-bottom: 1px solid #e6e6e6;

  &:first-child {
    border-top: 1px solid #e6e6e6;
  }
}

.product__wrapper {
  display: flex;

  width: $mobile-width;
  padding-right: $mobile-indent;
  padding-left: $mobile-indent;
  margin: 0 auto 25px auto;
}

.product__link {
  width: 50%;
  min-height: 125px;
}

.product__image {
  display: block;
  position: relative;
  z-index: 2;

  width: 140px;
  height: 144px;
  margin: auto;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &--chicken500 {
    background-image: url("../img/chicken-small-mobile@1x.jpg");
  }

  &--chicken1000 {
    background-image: url("../img/chicken-big-mobile@1x.jpg");
  }

  &--fish500 {
    background-image: url("../img/fish-small-mobile@1x.jpg");
  }

  &--fish1000 {
    background-image: url("../img/fish-big-mobile@1x.jpg");
  }

  &--buckwheat500 {
    background-image: url("../img/buckwheat500-small-mobile@1x.jpg");
  }

  &--buckwheat1000 {
    background-image: url("../img/buckwheat-small-mobile@1x.jpg");
  }

  &--rice500 {
    background-image: url("../img/rice-small-mobile@1x.jpg");
  }
}

.product__description {
  display: flex;
  flex-direction: column;

  width: 50%;
  min-height: 125px;
}

.product__link-title {
  margin-bottom: 10px;
}

.product__name {
  padding-top: 20px;
  margin: 0;

  color: $header-color;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product__value {
  display: block;
}

.product__order-button {
  padding-right: $mobile-indent;
  padding-left: $mobile-indent;
}
