@mixin button {
  display: block;
  border: none;
}

@mixin mobile-layout($padding-left: 20px, $padding-right: 20px) {
  padding-left: $padding-left;
  padding-right: $padding-right;
  margin-right: auto;
  margin-left: auto;
  min-width: $mobile-width;
}

@mixin text($color: #444444, $font-size: 14px, $line-height: 18px) {
  font-family: "OswaldRegular", "Arial", sans-serif;
  color: $color;
  font-size: $font-size;
  line-height: $line-height;
}
